<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!--=============== FAVICON ===============-->
        <link rel="shortcut icon" href="static/img/Circular_LOGO.png" type="image/x-icon">

        <!--=============== REMIX ICONS ===============-->
        <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">

        <!--=============== CSS ===============-->
        <link rel="stylesheet" href="static/css/styles.css">

        <title>Free 2 Play</title>
    </head>
    <body>
        <!--=============== HEADER ===============-->
        <header class="header" id="header">
            <nav class="nav container">
                <div class="nav__menu" id="nav-menu">
                    <ul class="nav__list">
                        <li class="nav__item">
                            <a href="#home" class="nav__link active-link">Home</a>
                        </li>
                        <li class="nav__item">
                            <a href="#food_prophet" class="nav__link">Food Prophet</a>
                        </li>
                        <li class="nav__item">
                            <a href="#ending_pain" class="nav__link">Ending Pain</a>
                        </li>
                        <li class="nav__item">
                            <a href="#air" class="nav__link">Breath</a>
                        </li>
                    </ul>

                    <div class="nav__close" id="nav-close">
                        <i class="ri-close-line"></i>
                    </div>
                </div>

                <div class="nav__toggle" id="nav-toggle">
                    <i class="ri-function-line"></i>
                </div>
            </nav>
        </header>

        <main class="main">
            <!--=============== HOME ===============-->
            <section class="home section" id="home">
                <div class="home__container container grid">

                    
                    <div class="home__data">
                        <div class="home__header">
                            <h1 class="home__title">Join</h1>
                            <h2 class="home__subtitle">Free 2 Play</h2>
                        </div>
                    
                        <div class="home__footer">
                            <h3 class="home__title-description">Main Free2Play Story</h3>
                            <p class="home__description">
                                The story of two brothers, seeking the meaning of life since childhood. Rejected by the shallowness of society—a society built on the pillars of greed, lust, and self-image.
                            </p>
                            <p class="home__description">
                                The world of computers seemed the only one unstained by these human concepts, a world of certainty, the beautiful intricate dance of 0s and 1s. And it was calling them both...
                            </p>
                            <p class="home__description">
                                One brother ventured into the mountains of Romania, pursuing the path of a monk, searching for the secrets of life. The other sought knowledge and the religions of the Eastern world, also searching for the secrets of life.
                            </p>
                            <p class="home__description">
                                Studying the intimate aspects of the mind, their perspectives on the computer world shifted. The computer became a gateway into the mind’s understanding, and the mind a gateway into the computer world. A powerful tool, but it is up to each individual how they decide to use it.
                            </p>
                            <p class="home__description">
                                They first understood the mind. With this understanding came the natural law of this world—freedom. Enclosing freedom of expression only leads to suffering. All nature abides by it. Only modern man rises against the natural truths of this world.
                            </p>
                            <p class="home__description">
                                But what if one were to use the computer world to reconnect with these natural truths?
                            </p>
                            <p class="home__description">
                                This is the pillar upon which Free2Play was built: to use the world of computers to understand and heal the mind and body.
                            </p>                
                    
                            <h3 class="home__title-description">Our Projects</h3>
                            <p class="home__description">
                                Here is where the Ancient knowledge about the Mind & Body meet with the powerful computing world of programming,
                                Using complex mathematical libraries, neural networks, and intricate data flows to create innovative solutions-
                            </p>
                            <p class="home__description">
                            The world of computers seemed the only one unstained by these human concepts, a world of certainty, the beautiful intricate dance of 0s and 1s. And it was calling them both...
                            </p>
                            <p class="home__description">
                            Our unique blend of ancient wisdom and modern technology creates a pathway to rediscover the natural truths of life, utilising advanced programming techniques, complex neural networks, and holistic health principles gathered across 15 years of
                            <br>Searching for the Secrets of Life…
                            </p>
                        </div>
                    </div>

                </div>
            </section>
            
            <!--=============== Food Prophet ===============-->
            <section class="specs section grid" id="food_prophet">
                <h2 class="section__title section__title-gradient">Food Prophet</h2>
                <div class="home__data">
                    <div class="home__footer">
                        <p class="home__description">
                            Our approach combines deep studies and concepts about food and the digestive system from ancient wisdom and the latest scientific research. 
                            We explore cultural health concepts like Hara Hachi Bu (eating until you're 80% full), which appear in various forms across cultures and religions. 
                            Using a custom-made and tested neural network, we analyze the effect 
                            of meals on digestive system health. 
                            This helps users understand the blueprints of their digestive systems and how they interact with the mind and overall body health. 
                        </p>
                        <p class="home__description">
                        This helps users understand the blueprints of their digestive systems and how they interact with the mind and overall body health. 
                        </p>
                        <p class="home__description">
                        In 1931 dr. Otto Warburg discovers the Root Cause of Cancer: Acidosis and Hypoxia: Cancer cannot live in an alkaline environment.
                        The Digestive system is where te Acidosis starts and will govern the Acidity of the entire organism. 
                        </p>
                        <p class="home__description">
                            It is The Second Body Conditioner.
                            The Health Level, Easiness, Optimum Functionality of the Digestive system will continuously dictate the Functionality of One’s Body. And the Body will further dictate (condition) the functionality of the Mind.
                        </p>
                    </div>
                </div>
            </section>

            <!--=============== Ending Pain ===============-->
            <section class="case section grid" id="ending_pain">
                <h2 class="section__title section__title-gradient">Ending Pain</h2>
                <div class="home__data">
                    <div class="home__footer">
                        <p class="home__description">
                        A wise man once claimed that the Natural Truth of this world is E=mc2.
                        <br>Everything answers to it.
                        </p>
                        <p class="home__description">
                        Beyond the concepts of the Modern Man, if One truly studies Movement, Recovery, chronic physical pains, it will inevitably come to the realization that Gravity is here 24 hours a day - and the way the body meets it it’s called Movement.
                        <br>And it takes many forms.
                        <br>It’s where chronic pains, deficiencies, performance - Rise from.
                        </p>
                        <p class="home__description">
                        But just as E=mc2, it deals in truly complex biomechanical patterns, vectors, angles, compressions, extraordinarily deep Neural Networks transformed to musculoskeletal responses.
                        </p>
                        <p class="home__description">
                        With over 10 years of recovery study and work on fascial lines, our project integrates ancient wisdom and modern biomechanics approaches -
                        </p>
                        <p class="home__description">
                        Using an image analysis script with Mediapipe, we apply complex 
                        blueprinting of body mechanics into fascial lines and stations
                        </p>
                        <p class="home__description">
                        This approach aims to assess the delta of compressions across different fascial
                        lines and Nexuses (where multiple fascial lines converge). 
                        </p>
                        <p class="home__description">
                        By providing users with deep readings and proposed biomechanics enhancement plan,
                        <br>We aim to alleviate pain and improve overall physical health.
                        <br>How you move will condition how you feel and if there is any painful tension in the body.
                        <br>How you feel will condition the quality of your thoughts and life.
                        <br><strong>Third Body Conditioner.</strong>
                        </p>
                    </div>
                </div>
            </section>
            <!--=============== Air ===============-->
            <section class="products section" id="air">
                <h2 class="section__title section__title-gradient products__line">
                    Breath
                </h2>
                <div class="home__data">
                    <div class="home__footer">
                        <p class="home__description">
                        This project focuses on the breath, known in the Eastern world as the first natural truth conditioning the well-being and functionality of the body. 
                        </p>
                        <p class="home__description">
                        Adjusting the breath can alter the body's alchemy within seconds. Breath() aims to provide a comprehensive understanding of how this chemical exchange occurs 30,000 times a day and its effects on the body and health. 
                        <br>We study the intimate connection between what we breathe, how we breathe, and how we feel, as well as the deeper unconscious layers that guide and are guided by this process.
                        </p>
                        <p class="home__description">
                        Utilising a vast database of syntactic data and studying countries Air Quality Index (AQI) and its limitations (often only reflecting the highest index value and ignoring other factors), Breath() addresses the economic rather than health-driven factors that have made air pollution a silent killer, responsible for more deaths than smoking. 
                        </p>
                        <p class="home__description">
                        Our complex algorithm weighs, normalises, processes, and outputs the true AQI and its effects on the body, aiming to shed light on these issues and guide users toward addressing this silent killer.
                        <br>What and how you Breathe will condition how you feel.
                        </p>
                    </div>
             
                </div>
            </section>
        </main>

        <!--=============== FOOTER ===============-->
        <footer class="footer section">
            <div class="footer__container container grid">
    
               
            <p class="footer__copy">
                <a href="https://www.re-connect.ro/" target="_blank" class="footer__copy-link">&#169; Free2Play. All right reserved</a>
            </p>
        </footer>

        <!--=============== SCROLL UP ===============-->
        <a href="#" class="scrollup" id="scroll-up">
            <i class="ri-arrow-up-s-line scrollup__icon"></i>
        </a>
        
        <!--=============== SCROLL REVEAL ===============-->
        <script src="https://unpkg.com/scrollreveal"></script>

        <!--=============== MAIN JS ===============-->
        <script src="static/js/main.js"></script>
    </body>
</html>