<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!--=============== FAVICON ===============-->
        <link rel="shortcut icon" href="static/img/favicon.png" type="image/x-icon">

        <!--=============== REMIX ICONS ===============-->
        <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">

        <!--=============== CSS ===============-->
        <link rel="stylesheet" href="static/css/styles.css">

        <title>Free 2 Play</title>
    </head>
    <body>
        <!--=============== HEADER ===============-->
        <header class="header" id="header">
            <nav class="nav container">
                <a href="#" class="nav__logo">
                    <img src="static/img/CIRCULAR_logo.png" alt="">
                </a>

                <div class="nav__menu" id="nav-menu">
                    <ul class="nav__list">
                        <li class="nav__item">
                            <a href="#home" class="nav__link active-link">Home</a>
                        </li>
                        <li class="nav__item">
                            <a href="#food_prophet" class="nav__link">Food Prophet</a>
                        </li>
                        <li class="nav__item">
                            <a href="#ending_pain" class="nav__link">Ending Pain</a>
                        </li>
                        <li class="nav__item">
                            <a href="#air" class="nav__link">Air</a>
                        </li>
                    </ul>

                    <div class="nav__close" id="nav-close">
                        <i class="ri-close-line"></i>
                    </div>
                </div>

                <div class="nav__toggle" id="nav-toggle">
                    <i class="ri-function-line"></i>
                </div>
            </nav>
        </header>

        <main class="main">
            <!--=============== HOME ===============-->
            <section class="home section" id="home">
                <div class="home__container container grid">

                    
                    <div class="home__data">
                        <div class="home__header">
                            <h1 class="home__title">Join</h1>
                            <h2 class="home__subtitle">Free 2 Play</h2>
                        </div>

                        <div class="home__footer">
                            <h3 class="home__title-description">Overview</h3>
                            <p class="home__description">We are Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ratione doloribus tempore blanditiis, excepturi, repellat ducimus vitae molestiae nesciunt esse possimus eius quidem similique laudantium aperiam aliquam voluptatum consequatur corrupti facilis?
                            </p>
                        </div>
                    </div>
                </div>
            </section>
            
            <!-- =============== SPONSOR ===============
            <section class="sponsor section">
                <div class="sponsor__container container grid">
                    <img src="static/img/sponsor1.png" alt="" class="sponsor__img">
                    <img src="static/img/sponsor2.png" alt="" class="sponsor__img">
                    <img src="static/img/sponsor3.png" alt="" class="sponsor__img">
                    <img src="static/img/sponsor4.png" alt="" class="sponsor__img">
                </div>
            </section> -->

            <!--=============== SPECS ===============-->
            <section class="specs section grid" id="food_prophet">
                <h2 class="section__title section__title-gradient">Food Prophet</h2>
                </section>

            <!--=============== CASE ===============-->
            <section class="case section grid" id="ending_pain">
                <h2 class="section__title section__title-gradient">Ending Pain</h2>
            </section>
            <!--=============== PRODUCTS ===============-->
            <section class="products section" id="air">
                <h2 class="section__title section__title-gradient products__line">
                    Air
                </h2>
            </section>
        </main>

        <!--=============== FOOTER ===============-->
        <footer class="footer section">
            <div class="footer__container container grid">
    
               
            <p class="footer__copy">
                <a href="https://www.re-connect.ro/" target="_blank" class="footer__copy-link">&#169; Free2Play. All right reserved</a>
            </p>
        </footer>

        <!--=============== SCROLL UP ===============-->
        <a href="#" class="scrollup" id="scroll-up">
            <i class="ri-arrow-up-s-line scrollup__icon"></i>
        </a>
        
        <!--=============== SCROLL REVEAL ===============-->
        <script src="https://unpkg.com/scrollreveal"></script>

        <!--=============== MAIN JS ===============-->
        <script src="static/js/main.js"></script>
    </body>
</html>